html, body {
    height: 100vh;
    width: 100vw;

    margin: 0;
}

body nav {
    height: 10vh;
    width: 100vw;

    padding: 1.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 100;
    top: 0;

    background: #550a3cff;
}

body nav a {
    height: 100%;
}

.nav-logo {
    height: 100%;
    width: auto;
}

body main {
    margin-top: 10vh;
    margin-bottom: 5rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-break {
    height: 4px;
    width: 90%;

    margin-bottom: 1rem;

    border-radius: 15px;

    background: #550a3cff;
}

.main-text {
    font-family: "Perpetua Titling MT", serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    color: #0c183c;
}

.row {
    width: 100%;
}

.card-body {
    height: 75vh;
}