.user-control {
    height: 4rem;
    min-width: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.user-control-button {
    height: 100%;
    width: 100%;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 25px;
    outline: 4px solid white;

    background: #550a3cff;
}

.user-control a:hover {
    cursor: pointer;
}

.user-img {
    height: 2rem;
    aspect-ratio: 1 / 1;
}

.user-control-menu {
    width: auto;

    position: absolute;
    bottom: 1rem;
    right: 6rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    transition: right 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.user-control-menu.open {
    opacity: 1;
    pointer-events: auto;
}

.menu-option-group {
    width: 21rem;

    display: flex;
    justify-content: space-between;
}

.login-register-switch {
    color: white;
    transition: color 0.1s ease;
}

.login-register-switch:hover {
    color: rgb(190, 190, 190);
}

.menu-option-logged {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: 481px) {
    .user-control {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }

    .menu-option {
        width: max-content;

        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        border-radius: 25px;

        background: #550a3cff;
        color: white;
    }
}

@media screen and (max-width: 480px) {
    .user-control-menu {
        right: 0;
    }

    .menu-option {
        width: 100vw;

        padding: 1rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        position: fixed;
        bottom: 10rem;
        left: 0;

        border-radius: 25px;

        background: #550a3cff;
        color: white;
    }

    .user-control-button {
        height: 4rem;
        width: 4rem;

        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
}